<div class="author">
    <figure class="author-avatar"><img class="avatar-image" src="{{author.image}}" alt=""></figure>
    <header class="author-name">{{author.name}}</header>
    <p class="author-bio">{{author.bio}}</p>
    <h4>Projects I'm author of:</h4>
    <ul>
        <li><a href="https://github.com/vjustov/grunt-sinatra">grunt-sinatra</a><li>
    </ul>
    <h4>Projects I've contributed to:</h4>
    <ul>
        <li><a href="https://github.com/maxjacobson/film_snob/">FilmSnob</a><li>
    </ul>
    {{#if author.location}} <p><small>{{author.location}}</small></p> {{/if}}
</div>
