<menu class="social-media-share">
    <a href="https://twitter.com/vjustov" class="icon-twitter" rel="external" ti
tle="My Twitter"></a>
    <a href="https://do.linkedin.com/in/vjustov/" class="icon-linkedin" rel="ext
ernal" title="My LinkedIn"></a>
    <a href="https://github.com/vjustov" class="icon-github" rel="external" titl
e="My GitHub"></a>
    <a href="mailto:viktor@vjusto.com" class="icon-mail" rel="external" title="M
y Mail"></a>
</menu>